
Debug/Marker_AR.log
Debug/marker.obj
*.tlog
*.idb
*.pdb
*.obj
*.log
*.db
*.opendb
*.ipch
*.ilk
*.exe
intrinsic parameters - 副本.txt
.vs/Marker_AR/v15/.suo
.vs/Marker_AR/v15/.suo
*.autopkg
*.xml
*.txt
*.h
*.lib
*.targets
*.dll
*.nupkg
*.jpg
